:root {
  --main-color: #210070;
  --secondary-color: #0093e9;
  --secondary-color-hover: #0170b1;
  --mid-color: #a62fed;
  --light-color: #e52fed;
  --blue-color: #2f34ed;
  --extra-color: #ed2f8b;
}
